@font-face {
	font-family: '思源宋体 Regular';
	font-weight: 400;
	src:
		url('e2IwCzChvAqZ.woff?t=1704938355835') format('woff'),
		url('e2IwCzChvAqZ.woff2?t=1704938355835') format('woff2');
	font-display: swap;
}
