@font-face {
	font-family: '思源黑体 ExtraLight-subset';
	font-weight: 400;
	src:
		url('fVTb2R3EvaGS.woff?t=1704938355835') format('woff'),
		url('fVTb2R3EvaGS.woff2?t=1704938355835') format('woff2');
	font-display: swap;
}
